## A Quick Overview of Python 3

* Lines and Intendation
* Comments
* Dynamic Typing
* Variable Names
* Basic Data Types - Arrays/Lists, Dictionaries, Sets, Tupples, Strings
* Control Structures
* Mathematical Operators
* List Comprehensions And Lamda Functions
* Exceptions
* Classes and Objects

In [98]:
# Customary Hello World

print("Hello World!")

Hello World!

## Intendation and Character Set

* Uses intendation to express block structure of a program
* No use of braces {, } or begin/end
* Use spaces or tabs, one of them consistently in the program file
* recommendation is 4 spaces
* UTF-8 Character set
* Case Sensitive

## Identifiers

* a name used to specify a variable, function, class, module, or other object. 

* An identifier starts with a letter or an underscore ( _ )

* followed by zero or more letters, underscores, and digits

## Keywords

* identifiers that Python reserves for special syntactic uses
* 31 keywords
* and continue except global lambda raise as def if exec not yield return assert del finally import or try break elif for in pass while class else from is print with

## Data Types

* Numbers - Integers, Floats and Complex Numbers
* Sequences - Strings, Arrays, Tuples
*

In [6]:
# Integers
1 
123456789123456789123456789

123456789123456789123456789

In [8]:
# Floats
# A Python floating-point value corresponds to a C double and shares its limits of
# range and precision, typically 53 bits of precision on modern platforms.

1.0
1.123e10

11230000000.0

In [10]:
# Complex numbers
a = 1 + 2.j

(a.real, a.imag)

(1.0, 2.0)

In [13]:
## Strings
## A sequence of 0 or more characters within matching quotes

'Hello World'

"Hello World"

'Hello World'

In [16]:
## Tuples

## A tuple is an immutable ordered sequence of items. 

## The items of a tuple are arbitrary objects and may be of different types.

(1, 2, 3)
("1", 2, 3.0)
("one",)  # , is required
() # Empty Tuple

()

In [18]:
## Lists

## A list is a mutable ordered sequence of items. 
## The items of a list are arbitrary objects and may be of different types.

[1, 2, 3]
["1", 2, 3.0]
["one"]  # , is NOT required unlike tuple
[] # Empty List

[]

In [21]:
# can use list() to create list

list((1, 2, 3))
list([1, 2, 3])

[1, 2, 3]

In [19]:
# String is a list

list("Hello")

['H', 'e', 'l', 'l', 'o']

In [24]:
## Sets

## set and frozenset , to represent arbitrarily ordered collections of unique items. 

## Items in a set may be of different types

## Items are not ordered (has changed in 3.7?)

{42, 3.14, 'hello'}
{1, 2, 2, 3, 3, 3}
set()

set()

In [26]:
## A mapping is an arbitrary collection of objects indexed by nearly arbitrary values called keys.

{'x':42, 'y':3.14, 'z':7}

dict(x=42, y=3.14, z=7)

{'x': 42, 'y': 3.14, 'z': 7}

In [27]:
## Boolean

True
False

# Any nonzeronumber or nonempty container (e.g., string, tuple, list, set, or dictionary) is true. 

# 0(of any numeric type), None , and empty containers are false.

False

In [29]:
## Bool is a subtype of Int

True == 1
False == 0

True

In [33]:
## Variables

# No declarations

a = 1

print(f"a = {a}")

a = "a string"

print(f"a is now reassigned to : {a}")

a = 1
a is now reassigned to : a string

In [35]:
# Assignments

a, b, c = 1, "2", 3.0

b

'2'

In [38]:
# Logical operators

not False

True and False

True or False

True

In [42]:
# Comparison chaining

# a < b and b <= c and c < d
# same as
# a < b <= c < d

a = 1
b = 2
c = 3
d = 4

a < b and b < c and c < d
a < b < c < d

True

In [48]:
# Maths Operators

1 + 2

2 - 1

3 * 2

3 / 2  # returns float

5 // 2

2

In [49]:
## Exponentiation

3 ** 2

9

In [68]:
## Sequences

## Sequences are ordered containers with items that are accessible by indexing and slicing.

# len
len([1, 2])

# min
min((1, 2, 3))

# max
max("hello")

# sum
sum([1, 2, 3])

# concatenation or repeatition

[1, 2, 3] * 2

# membership testing

2 in [1, 2, 3]

"hell" in "hello"

# Indexing a sequence

x = [1, 2, 3, 4, 5]

x[0]
x[2]
x[-1]
x[-3]

# Slicing a sequence

x[0:2]
x[1:]
x[0::2]

[1, 3, 5]

In [71]:
# Indexing a dictionary

d = {'x':42, 'y':3.14, 'z':7}

d['x']

42

## Control Flow

## if, if else, if elif else

In [72]:
x = 1

if x <= 1:
    print("x less than 1")

x less than 1

In [73]:
x = 2

if x <= 1:
    print("x less than 1")
else:
    print("x greater than 1")

x greater than 1

In [74]:
x = 2

if x <= 1:
    print("x less than 1")
elif x <= 2:
    print("x is greater than 1 and less than or equal to 2")
else:
    print("x greater than 1")

x is greater than 1 and less than or equal to 2

In [76]:
# While statement

count = 0

while count < 10:
    count += 1

print(f"count is {count}")

count is 10

In [77]:
# For statement

for i in [1, 2, 3] :
    print(f"{i}")

1
2
3

In [82]:
## List Comprehensions

x = [1, 2, 3, 4]

squares = []

for i in x:
    squares.append(i * i)
    
squares

[1, 4, 9, 16]

In [81]:
# [ expression for target in iterable lc-clauses ]

[i * i for i in x]

[1, 4, 9, 16]

In [83]:
[i * i for i in x if i % 2 == 0]

[4, 16]

## Functions

def function_name(parameters):

    statement(s)

In [87]:
# Use return 

def sum(a, b=0) : 
    return a + b

sum(2, 4)
sum(2)

2

In [89]:
# Lambda functions

fn = lambda x, y : x + y

fn(2, 4)

6

In [93]:
# Class

class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def get_name(self):
        return self.name
    def get_age(self):
        return self.age
    def set_name(self, name):
        self.name = name
        

jeff = Person("Jeff", 30)

jeff.get_name()
jeff.set_name("Jeffry")  
jeff.get_name()

jeff.name

'Jeffry'

In [97]:
# Exceptions


try:
    1 / 1
except :
    print("Divide by 0")
finally :
    print("everything fine")

everything fine